$primary-color: #933FFE;
$secondary-color: #23395B;
$dark-color: #666666;

.mainContainer {

  :global .my-header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    transition: height 500ms;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);

    &.fixed {
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 999;
      height: 5rem;
    }

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;

      > div {
        width: 29.375rem;
      }

      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 7.198125rem;
        }
      }

      .menu {
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        ul {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          li {
            list-style: none;
            margin-right: 2.5rem;

            &:nth-last-of-type(1) {
              margin-right: 0;
            }

            a {
              text-decoration: none;
              font-style: normal;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.5rem;
              color: #282828;


              &.active {
                border: 0.0625rem solid $primary-color;
                border-radius: 0.25rem;
                padding: 0.5rem 1rem;

                &:hover {
                  text-decoration: underline;
                }
              }

              &.active, &:hover {
                color: $primary-color;
              }
            }
          }
        }

        .toggle {
          display: none;
          font-size: 1.5625rem;
          margin-right: 1.5625rem;
          cursor: pointer;
        }

        .try-free {
          background-color: #44aa97;
          padding: 1.25rem 1.5625rem;
          line-height: 0.9375rem;
          font-weight: 700;
          color: #fff;
          border-radius: 0.5rem;
          margin-right: 0.625rem;

          a {
            color: white;
          }
        }
      }
    }

    .mobile-menu {
      display: none;
      position: absolute;
      z-index: 999;
      width: 95%;
      background-color: white;
      margin: auto;
      left: 0;
      right: 0;
      box-shadow: 0 0 0.3125rem rgb(0 0 0 / 10%);
      padding: 0.625rem 0;

      ul {
        li {
          list-style: none;
          height: 2.375rem;
          padding: 0 0.5625rem;

          a {
            text-decoration: none;
            color: #000;
            padding: 0 0.9375rem;

            &.active, &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

  }

  :global .welcome {
    width: 85.375rem;
    height: 37.25rem;
    margin: 11.8125rem auto 0 auto;
    background-image: url(/img/welcome_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 3.4375rem;

    .texts {
      text-align: center;

      h1 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #282828;

        strong {
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 3.5rem;
          line-height: 4.75rem;
          color: #282828;
          width: 59.75rem;
          margin: 0.9375rem auto 0.625rem auto;
          text-transform: none;
        }
      }

      p {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #282828;
        width: 46rem;
        margin: 0 auto;

        &:nth-of-type(2) {
          margin-top: 1.875rem;
        }
      }
    }

    .actions {
      display: flex;
      margin: 2.375rem auto 0 auto;
      width: 45.1875rem;
      justify-content: space-around;

      > div {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        letter-spacing: 0.02em;
        color: #282828;
        display: flex;
        align-items: center;
        justify-content: center;

        strong {
          margin-left: 0.3125rem;
        }

        svg {
          margin-left: 0.625rem;
        }

        &.add-wait-list {
          border: 0.0625rem solid $primary-color;
          border-radius: 0.25rem;
          padding: 0rem 1rem;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.6875rem;
          color: $primary-color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }

  :global .custom-tabs {
    .nav {

      .nav-item {

        .active {
          background-color: transparent !important;
          border-bottom: 0.1875rem solid $primary-color;
          border-radius: 0.125rem;
          font-weight: 600;
        }

        button {
          font-family: "Inter";
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.375rem;
          color: #000000;
          text-align: center;
          letter-spacing: 0.02em;
          padding: 0;
          margin-right: 1rem !important;

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }
      }

    }

    .tab-content {
      padding-top: 8.125rem;
    }

    #pills-tab {
      width: max-content;
      margin: 0 auto;
      z-index: 9;
      position: relative;
    }

  }

  :global .generate {
    margin-top: 8.125rem;
    height: 56.5625rem;
    box-shadow: 0rem 2.25rem 4.75rem rgba(0, 0, 0, 0.04);

   > .content {
      width: 71.4375rem;
      margin: 0 auto;

      .tab-content {

        #generate-first {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 12.5rem;
              position: relative;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.3125rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              display: flex;
              position: absolute;
              right: -14.375rem;
              width: 71.875rem;
              justify-content: space-between;

              .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                > img {
                  width: 8rem;
                  object-fit: contain;
                  position: relative;
                  top: -2.8125rem;
                }

                .transform {
                  p {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.8125rem;
                    line-height: 2.75rem;
                    color: #282828;
                    text-align: center;
                    margin-top: 6.375rem;

                    span {
                      display: block;

                      strong {
                        font-family: 'Rubik Glitch';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 3.5625rem;
                        color: #BA00B3;
                        text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                      }
                    }
                  }

                  hr {
                    width: 5.9375rem;
                    margin-left: auto;
                    margin-right: auto;
                    color: black;
                    opacity: 1;

                    &:nth-of-type(2) {
                      width: 2.0625rem;
                      margin-top: 1.875rem;
                    }
                  }

                  .round {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                    padding: 0.4375rem;
                    box-shadow: 0 0 1.25rem -0.5rem rgb(0 0 0 / 20%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1.25rem auto 0 auto;

                    img {
                      width: 1.75rem;
                      object-fit: contain;
                    }
                  }
                }
              }

              .after {
                img {
                  width: 31.5625rem;
                }
              }
            }
          }
        }

        #generate-two {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 30.9375rem;
              position: relative;
              left: -2.8125rem;

              h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 1.625rem;
                line-height: 2.4375rem;
                color: #000000;
                width: 14.125rem;
              }

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                ul {
                  li {
                    font-weight: 500;
                    font-size: 1.1875rem;
                    line-height: 1.875rem;
                    color: #000000;
                    margin-top: 1.25rem;
                  }
                }

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.3125rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 41.875rem;
              }
            }
          }
        }

        #generate-three {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 12.5rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 10.0625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 75rem;
                position: relative;
                top: -14.8125rem;
                left: 14.0625rem;
              }
            }
          }
        }

        #generate-four {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 14.4375rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 9.5625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -1.375rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 70.625rem;
                position: relative;
                top: -2.9375rem;
                left: 14.0625rem;
              }
            }
          }
        }

        #generate-five {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 14.4375rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.0625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -1.375rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 70.625rem;
                position: relative;
                top: -2.3125rem;
                left: 17.1875rem;
              }
            }
          }
        }

      }
    }
  }

  :global .business {
    margin-top: 8.125rem;
    height: 56.5625rem;
    box-shadow: 0rem 2.25rem 4.75rem rgba(0, 0, 0, 0.04);

   > .content {
      width: 71.4375rem;
      margin: 0 auto;

      .tab-content {

        #business-first {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 12.5rem;
              position: relative;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.3125rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              display: flex;
              position: absolute;
              right: -14.375rem;
              width: 71.875rem;
              justify-content: space-between;

              .text {
                display: flex;
                flex-direction: column;
                align-items: center;

                > img {
                  width: 8rem;
                  object-fit: contain;
                  position: relative;
                  top: -2.8125rem;
                }

                .transform {
                  p {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.8125rem;
                    line-height: 2.75rem;
                    color: #282828;
                    text-align: center;
                    margin-top: 6.375rem;

                    span {
                      display: block;

                      strong {
                        font-family: 'Rubik Glitch';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 3.5625rem;
                        color: #BA00B3;
                        text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                      }
                    }
                  }

                  hr {
                    width: 5.9375rem;
                    margin-left: auto;
                    margin-right: auto;
                    color: black;
                    opacity: 1;

                    &:nth-of-type(2) {
                      width: 2.0625rem;
                      margin-top: 1.875rem;
                    }
                  }

                  .round {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                    padding: 0.4375rem;
                    box-shadow: 0 0 1.25rem -0.5rem rgb(0 0 0 / 20%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1.25rem auto 0 auto;

                    img {
                      width: 1.75rem;
                      object-fit: contain;
                    }
                  }
                }
              }

              .after {
                img {
                  width: 31.5625rem;
                }
              }
            }
          }
        }

        #business-two {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 30.9375rem;
              position: relative;
              left: -2.8125rem;

              h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 1.625rem;
                line-height: 2.4375rem;
                color: #000000;
                width: 14.125rem;
              }

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                ul {
                  li {
                    font-weight: 500;
                    font-size: 1.1875rem;
                    line-height: 1.875rem;
                    color: #000000;
                    margin-top: 1.25rem;
                  }
                }

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.3125rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 41.875rem;
              }
            }
          }
        }

        #business-three {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 12.5rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 10.0625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -0.625rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 75rem;
                position: relative;
                top: -14.8125rem;
                left: 14.0625rem;
              }
            }
          }
        }

        #business-four {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 14.4375rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 9.5625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -1.375rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 70.625rem;
                position: relative;
                top: -2.9375rem;
                left: 14.0625rem;
              }
            }
          }
        }

        #business-five {
          .content {
            display: flex;
            position: relative;

            > .left {
              width: 14.4375rem;
              position: absolute;
              left: -2.8125rem;

              .text {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.6875rem;
                color: #000000;
                position: relative;
                z-index: 1;

                &:after {
                  content: "";
                  position: absolute;
                  width: 2.5625rem;
                  height: 8.0625rem;
                  background: #FFE794;
                  border-radius: 1.5rem 0rem 0rem 1.5rem;
                  top: -1.375rem;
                  left: -1.0625rem;
                  z-index: -1;
                }
              }
            }

            > .right {
              img {
                width: 70.625rem;
                position: relative;
                top: -2.3125rem;
                left: 17.1875rem;
              }
            }
          }
        }

      }
    }
  }

  :global .purchase {
    margin-top: 8.125rem;
    height: 56.25rem;

    >.content {
      width: 71.4375rem;
      margin: 0 auto;

      .tab-content {
        #purchase-one {
          .content{
            display: flex;
            position: relative;
            justify-content: space-between;


            > .left {
              h2 {
                font-weight: 700;
                font-size: 1.93616875rem;
                color: #282828;
                position: relative;

                &:before {
                  content: "";
                  width: 0.5rem;
                  height: 1.5rem;
                  background: #8620E6;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: -1.25rem;
                }
              }

              p {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 125.7%;
                color: #282828;
              }

              .join-beta-button {
                width: 8.125rem;
                height: 2.25rem;
                border: 0.125rem solid #8620E6;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 1rem;
                line-height: 125.7%;
                color: #8620E6;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            > .right {
              img {
                width: 37.5rem;
              }
            }
          }
        }

        #purchase-two {
          .content{
            display: flex;
            position: relative;
            justify-content: space-between;


            > .left {
              h2 {
                font-weight: 700;
                font-size: 1.93616875rem;
                color: #282828;
                position: relative;

                &:before {
                  content: "";
                  width: 0.5rem;
                  height: 1.5rem;
                  background: #8620E6;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: -1.25rem;
                }
              }

              p {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.0625rem;
                line-height: 1.9375rem;
                color: #282828;
              }

              .join-beta-button {
                width: 8.125rem;
                height: 2.25rem;
                border: 0.125rem solid #8620E6;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 1rem;
                line-height: 125.7%;
                color: #8620E6;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            > .right {
              img {
                width: 47.5rem;
                position: relative;
                top: -10.3125rem;
                left: -4.6875rem;
              }
            }
          }
        }

        #purchase-three {
          .content{
            display: flex;
            position: relative;
            justify-content: space-between;

            > .left {
              position: absolute;

              h2 {
                font-weight: 700;
                font-size: 1.93616875rem;
                color: #282828;
                position: relative;

                &:before {
                  content: "";
                  width: 0.5rem;
                  height: 1.5rem;
                  background: #8620E6;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: -1.25rem;
                }
              }

              p {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.0625rem;
                line-height: 125.7%;
                color: #282828;
              }

              .join-beta-button {
                width: 8.125rem;
                height: 2.25rem;
                border: 0.125rem solid #8620E6;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 1rem;
                line-height: 125.7%;
                color: #8620E6;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            > .right {
              img {
                width: 60rem;
                position: absolute;
                right: -9.375rem;
                top: -2.8125rem;
              }
            }
          }
        }

        #purchase-four {
          .content{
            display: flex;
            position: relative;
            justify-content: space-between;

            > .left {
              position: absolute;

              h2 {
                font-weight: 700;
                font-size: 1.93616875rem;
                color: #282828;
                position: relative;

                &:before {
                  content: "";
                  width: 0.5rem;
                  height: 1.5rem;
                  background: #8620E6;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  left: -1.25rem;
                }
              }

              p {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.0625rem;
                line-height: 2.75rem;
                color: #282828;
                margin-top: 2.1875rem;
                margin-bottom: 2.8125rem;
              }

              .join-beta-button {
                width: 8.125rem;
                height: 2.25rem;
                border: 0.125rem solid #8620E6;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 1rem;
                line-height: 125.7%;
                color: #8620E6;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            > .right {
              img {
                width: 60rem;
                position: absolute;
                right: -9.375rem;
                top: -2.8125rem;
              }
            }
          }
        }
      }
    }
  }

}