$primary-color: #933FFE;
$secondary-color: #23395B;
$dark-color: #666666;

.mainContainer {
  :global .my-header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    transition: height 500ms;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);

    &.fixed {
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 999;
      height: 5rem;
    }

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75.375rem;
      max-width: 100%;
      margin: 0 auto;

      > div {
        width: 11.125rem;
        max-width: 100%;
      }

      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 7.198125rem;
        }
      }

      .menu {
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        ul {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          padding: 0;

          li {
            list-style: none;
            margin-right: 2.5rem;

            &:nth-last-of-type(1) {
              margin-right: 0;
            }

            a {
              text-decoration: none;
              font-style: normal;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.5rem;
              color: #282828;


              &.active {
                border: 0.0625rem solid $primary-color;
                border-radius: 0.25rem;
                padding: 0.5rem 1rem;

                &:hover {
                  text-decoration: underline;
                }
              }

              &.active, &:hover {
                color: $primary-color;
              }
            }
          }
        }

        .toggle {
          display: none;
          font-size: 1.5625rem;
          margin-right: 1.5625rem;
          cursor: pointer;
        }

        .try-free {
          background-color: #44aa97;
          padding: 1.25rem 1.5625rem;
          line-height: 0.9375rem;
          font-weight: 700;
          color: #fff;
          border-radius: 0.5rem;
          margin-right: 0.625rem;

          a {
            color: white;
          }
        }
      }
    }

    .mobile-menu {
      display: none;
      position: absolute;
      z-index: 999;
      width: 95%;
      background-color: white;
      margin: auto;
      left: 0;
      right: 0;
      box-shadow: 0 0 0.3125rem rgb(0 0 0 / 10%);
      padding: 0.625rem 0;

      ul {
        li {
          list-style: none;
          height: 2.375rem;
          padding: 0 0.5625rem;

          a {
            text-decoration: none;
            color: #000;
            padding: 0 0.9375rem;

            &.active, &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

  }

  :global .welcome {
    width: 85.375rem;
    max-width: 100%;
    height: 37.25rem;
    margin: 11.8125rem auto 0 auto;
    background-image: url(/img/welcome_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 4.7375rem;

    .texts {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
     
      button{

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5rem 2rem;
      border: 1px solid #9B51E0;
      color: #9B51E0;
      background-color: transparent;
      border-radius: .625rem;
      }

      h1 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #282828;

        strong {
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 3.5rem;
          line-height: 4.75rem;
          color: #282828;
          width: 59.75rem;
          max-width: 100%;
          margin: 0.9375rem auto 0.625rem auto;
          text-transform: none;
        }
      }

      p {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #282828;
        width: 46rem;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 3.1875rem;

        &:nth-of-type(2) {
          margin-top: 1.875rem;
        }
      }
    }

    .actions {
      display: flex;
      margin: 2.375rem auto 0 auto;
      width: 45.1875rem;
      max-width: 100%;
      justify-content: space-around;

      > div {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        letter-spacing: 0.02em;
        color: #282828;
        display: flex;
        align-items: center;
        justify-content: center;

        strong {
          margin-left: 0.3125rem;
        }

        svg {
          margin-left: 0.625rem;
        }

        &.add-wait-list {
          border: 0.0625rem solid $primary-color;
          border-radius: 0.25rem;
          padding: 0rem 1rem;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.6875rem;
          color: $primary-color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }

  :global .custom-tabs {
    .nav {
      .nav-item {

        .active {
          background-color: transparent !important;
          border-bottom: 0.1875rem solid $primary-color;
          border-radius: 0.125rem;
          font-weight: 600;
        }

        button {
          font-family: "Inter";
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.375rem;
          color: #000000;
          text-align: center;
          letter-spacing: 0.02rem;
          // margin-left:7rem !important ;
          // margin-right: -7rem !important;
        

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }
      }

    }

    .tab-content {
      padding-top: 9.25rem;
    }

    #pills-tab {
      // display: flex;
      // justify-content: center;
      width: max-content;
      margin: 0 auto;
      z-index: 9;
      position: relative;
    }

  }

  :global .generate {
    margin-top: 8.125rem;
    height: 56.5625rem;
    box-shadow: 0rem 2.25rem 4.75rem rgba(0, 0, 0, 0.04);

    .accordion-button {
      z-index: 1;
    }

    > .content {
      width: 71.4375rem;
      max-width: 100%;
      margin: 0 auto;
      &.mobile-content {
        display: none;
      }

      #generate-first {
        .content {
          display: flex;
          position: relative;
     
          > .left {
            width: 12.5rem;
            max-width: 100%;
            position: relative;
         
          
            .text {
              width: 17rem;
              height: 6.75rem;
              font-weight: 700;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              color: #000000;
              position: relative;
              z-index: 1;
              padding-left:4.8rem;
              left: -1.625rem;
        
            
              &:after {
                content: "";
                position: absolute;
                width: 2.5625rem;
                height: 8.3125rem;
                background: #FFE794;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                top: -0.625rem;
                left: 1.675rem;
                z-index: -1;
               
             
               
              }
            }
          }

          > .right {
            display: flex;
            position: absolute;
            right: -14.375rem;
            width: 71.875rem;
            justify-content: space-between;
            margin-top: 2.125rem;

            .before {
              margin: 0 0 0 79px;
              img {
                width: 17.0625rem;
                height: 27.125rem;
                margin-left: 2.5rem;
                margin-right: 4.9375rem;
                max-width: 100%; 
              }
            }

            .text {
              display: flex;
              flex-direction: column;
              align-items: center;
          
              > img {
                width: 4.488rem;
                max-width: 100%;
                object-fit: contain;
                position: relative;
                top: -2.8125rem;
                bottom: 10.75rem;  
              }

              .transform {
                p {
                  width: 16.6875rem;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 1.8125rem;
                  line-height: 2.75rem;
                  color: #282828;
                  text-align: center;
                  margin-top: 3.6806rem;
              
                  span {
                    display: block;

                    strong {
                      font-family: 'Rubik Glitch';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 3rem;
                      line-height: 3.5625rem;
                      color: #BA00B3;
                      text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                    }
                  }
                }

                hr {
                  width: 5.9375rem;
                  max-width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                  color: black;
                  opacity: 1;

                  &:nth-of-type(2) {
                    width: 2.0625rem;
                    margin-top: 1.875rem;
                  }
                }

                .round {
                  width: 3rem;
                  max-width: 100%;
                  height: 3rem;
                  border-radius: 100%;
                  padding: 0.4375rem;
                  box-shadow: 0 0 1.25rem -0.5rem rgb(0 0 0 / 20%);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin: 1.25rem auto 0 auto;

                  img {
                    width: 1.75rem;
                    max-width: 100%;
                    object-fit: contain;
                  }
                }
              }
            }

            .after {
            
              img {
                width: 28.225rem;
                max-width: 100%;
                margin-left:2.015rem;
              }
            }
          }
        }
      }

      #generate-two {
        .content {
          display: flex;
          position: relative;

          > .left {
            width: 30.9375rem;
            max-width: 100%;
            position: relative;
            left: 0;
          
            h2 {
              width: 28.1875rem;
              font-style: normal;
              font-weight: 700;
              font-size: 1.325rem;
              line-height: 2.4375rem;
              color: #000000;
              
              
            }

            .text {
              top:3.5625rem ;
              font-weight: 700;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              color: #000000;
              position: relative;
              z-index: 1;
             

              ul {
                li {
                  font-weight: 500;
                  font-size: 1.1875rem;
                  line-height: 1.875rem;
                  color: #000000;
                  margin-top: 1.25rem;
                }
              }

              &:after {
                content: "";
                position: absolute;
                width: 2.5625rem;
                height: 8.3125rem;
                background: #FFE794;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                top: -0.625rem;
                left: -1.0625rem;
                z-index: -1;
              }
            }
          }

          > .right {
            img {
              width: 41.875rem;
              right: 17.375rem;
            }
          }
        }
      }

      #generate-three {
        .content {
          display: flex;
          position: relative;

          > .left {
            width: 12.5rem;
            position: absolute;
            left: -1.625rem;

            .text {
              width: 19.3125rem;
              font-weight: 700;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              color: #000000;
              position: relative;
              z-index: 1;
              left: 2.925rem;
              padding-left: 1.985rem;
              padding-top: 1.5rem;
              
              &:after {
                content: "";
                position: absolute;
                width: 2.5625rem;
                height: 10.0625rem;
                background: #FFE794;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                top: -0.625rem;
                left: -1.0625rem;
                z-index: -1;
              }
            }
          }

          > .right {
            img {
              width: 75rem;
              position: relative;
              top: -14.8125rem;
              left: 14.0625rem;
            }
          }
        }
      }

      #generate-four {
        .content {
          display: flex;
          position: relative;

          > .left {
            width: 14.4375rem;
            position: absolute;
            left: -1.625rem;

            .text {
              width: 17.160rem;
              font-weight: 700;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              color: #000000;
              position: relative;
              z-index: 1;
              left: 3.0625rem;
              padding-left: 2.625rem;

              &:after {
                content: "";
                position: absolute;
                width: 2.5625rem;
                height: 9.5625rem;
                background: #FFE794;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                top: -1.375rem;
                left: -1.0625rem;
                z-index: -1;
              }
            }
          }

          > .right {
            img {
              width: 70.625rem;
              position: relative;
              top: -2.9375rem;
              left: 14.0625rem;
            }
          }
        }
      }

      #generate-five {
        .content {
          display: flex;
          position: relative;

          > .left {
            width: 14.4375rem;
            position: absolute;
            left: -1.625rem;
           

            .text {
              width: 16.15rem;
              font-weight: 700;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              color: #000000;
              position: relative;
              z-index: 1;
              left: 2.625rem;
              padding-left: 2.325rem;


              &:after {
                content: "";
                position: absolute;
                width: 2.5625rem;
                height: 8.0625rem;
                background: #FFE794;
                border-radius: 1.5rem 0rem 0rem 1.5rem;
                top: -1.375rem;
                left: -1.0625rem;
                z-index: -1;
              }
            }
          }

          > .right {
            img {
              width: 55.625rem;
              position: relative;
              top: -2.3125rem;
              left: 27.1875rem;
            }
          }
        }
      }

    }
  }

  :global .integrate {
    background: linear-gradient(92.96deg, rgba(221, 221, 221, 0.2) 0.4%, rgba(255, 255, 255, 0.2) 41.99%), linear-gradient(93.9deg, #FFFFFF 45.9%, #F5F5F5 98.37%);
    width: 100%;
    height: 19.375rem;
    margin-top: 3.125rem;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .integrate-first{
      width: 43.5rem;
      max-width: 100%;
      text-align: center;
      height: 4.6875rem;
      color: #282828;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      margin: 0 auto;
      // box-shadow: 0rem 0.75rem 1.25rem 0rem rgb(0 0 0 / 4%);
      border-radius: 1.75rem;
      // position: relative;
      // top: -6.25rem;
      // padding: 1.5rem 5.093rem 3.5rem;
      
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.6875rem;
        // text-transform: uppercase;
        // position: absolute;
        // top: -6.25rem;
        // padding: 1.5rem 5.093rem 3.5rem;
      
      }
  
    p{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }



  
  
  }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 9.1875rem;

      .img-box {
        background-color: transparent;
        width: 5.18rem;
        height: 5.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 0.9375rem 0;
        // box-shadow: 0rem 0.75rem 1.25rem 0rem rgb(0 0 0 / 4%);
       

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  :global .business {
    margin-top: 8.125rem;
    height: 42rem;

    .custom-tabs {
      .tab-content {
        padding-top: 5rem;
      }
    }

    &.mobile-content {
      display: none;
    }

    > .content {
      width: 71.4375rem;
      margin: 0 auto;

      &.mobile-content {
        display: none;
      }

      #business-one {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.5rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.25rem;
              color: #282828;
              margin-top: 1.875rem;
            }

            .join-beta-button {
              width: 8.125rem;
              height: 2.25rem;
              border: 0.125rem solid #8620E6;
              border-radius: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              font-size: 1rem;
              line-height: 125.7%;
              color: #8620E6;
              cursor: pointer;
              margin-top: 1.875rem;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          > .right {
            img {
              max-width: 100%;
            }
          }
        }
      }

      #business-two {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;


          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.5rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.25rem;
              color: #282828;
              margin-top: 1.875rem;
            }

            .join-beta-button {
              width: 8.125rem;
              height: 2.25rem;
              border: 0.125rem solid #8620E6;
              border-radius: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              font-size: 1rem;
              line-height: 125.7%;
              color: #8620E6;
              cursor: pointer;
              margin-top: 1.875rem;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          > .right {
            img {
              max-width: 100%;
            }
          }
        }
      }

      #business-three {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            position: absolute;

            h2 {
              font-weight: 700;
              font-size: 1.5rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.25rem;
              color: #282828;
              margin-top: 1.875rem;
              
            }

            .join-beta-button {
              width: 8.125rem;
              height: 2.25rem;
              border: 0.125rem solid #8620E6;
              border-radius: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              font-size: 1rem;
              line-height: 125.7%;
              color: #8620E6;
              cursor: pointer;
              margin-top: 1.875rem;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          > .right {
            img {
              width: 60rem;
              position: absolute;
              right: -9.375rem;
              top: -2.8125rem;
            }
          }
        }

      }
    }
  }

  :global .social-commerce {
    .content {
      width: 71.4375rem;
      margin: 0 auto;
      display: flex;

      .left {
        width: 35.3125rem;

        h2 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2.25rem;
          text-align: left;
          margin-bottom: 4.375rem;
        }

        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 2.375rem;
          margin-bottom: 1.875rem;
        }

        .join-beta-button {
          width: 8.125rem;
          height: 2.25rem;
          border: 0.125rem solid #8620E6;
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-size: 1rem;
          line-height: 125.7%;
          color: #8620E6;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

      }

      .right {
        width: 36.125rem;
        max-width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  :global .purchase2 {
    margin-top: 8.125rem;
    height: 56.25rem;

    > .content {
      width: 71.4375rem;
      margin: 0 auto;

      &.mobile-content {
        display: none;
      }

      #purchase2-one {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 125.7%;
              color: #282828;
            }

          }

          > .right {
            img {
              width: 37.5rem;
              max-width: 100%;
            }
          }
        }
      }

      #purchase2-two {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 1.9375rem;
              color: #282828;
            }
          }

          > .right {
            img {
              width: 47.5rem;
              position: relative;
              top: -10.3125rem;
              left: -4.6875rem;
            }
          }
        }
      }

      #purchase2-three {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 125.7%;
              color: #282828;
              margin-bottom: 50rem;
            }

          }

          > .right {
            img {
              width: 60rem;
              position: absolute;
              right: -9.375rem;
              top: -2.8125rem;
            }
          }
        }
      }

      #purchase2-four {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            position: absolute;

            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            h3 {
              font-size: 1.25rem;
              font-weight: 600;
              line-height: 1.5625rem;
              margin-top: 3.6875rem;
              margin-bottom: 1.875rem;
            }

            ul {
              li {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.0625rem;
                color: #282828;
                margin-bottom: 0.625rem;
              }
            }
          }

          > .right {
            img {
              width: 60rem;
              position: absolute;
              right: -9.375rem;
              top: -2.8125rem;
            }
          }
        }
      }
    }
  }

  :global .purchase {
    margin-top: 8.125rem;
    height: 56.25rem;

    > .content {
      width: 71.4375rem;
      margin: 0 auto;

      &.mobile-content {
        display: none;
      }

      #purchase-one {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.9361rem;
              color: #282828;
              position: relative;
              bottom: 1.875rem;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 125.7%;
              color: #282828;
            }

          }

          > .right {
            img {
              width: 37.5rem;
              max-width: 100%;
            }
          }
        }
      }

      #purchase-two {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;
              bottom: 1.875rem;


              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 1.9375rem;
              color: #282828;
            }
          }

          > .right {
            img {
              width: 47.5rem;
              position: relative;
              top: -10.3125rem;
              left: -4.6875rem;
            }
          }
        }
      }

      #purchase-three {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;
              bottom: 1.875rem;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            p {
              width: 24.125rem;
              font-weight: 400;
              font-size: 1.0625rem;
              line-height: 125.7%;
              color: #282828;
              margin-bottom: 0.3125rem;
            }

          }

          > .right {
            img {
              width: 39.0625rem;
              position: absolute;
          right: -1.375rem;
              top: -2.8125rem;
            }
          }
        }
      }

      #purchase-four {
        .content {
          display: flex;
          position: relative;
          justify-content: space-between;

          > .left {
            position: absolute;

            h2 {
              font-weight: 700;
              font-size: 1.93616875rem;
              color: #282828;
              position: relative;
              bottom: 1.875rem;

              &:before {
                content: "";
                width: 0.5rem;
                height: 1.5rem;
                background: #8620E6;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -1.25rem;
              }
            }

            h3 {
              font-size: 1.25rem;
              font-weight: 600;
              line-height: 1.5625rem;
              margin-top: 3.6875rem;
              margin-bottom: 300rem;
            }

            ul {
              li {
                width: 24.125rem;
                font-weight: 400;
                font-size: 1.0625rem;
                color: #282828;
                margin-bottom: 0.625rem;
              }
            }
          }

          > .right {
            img {
              width: 60rem;
              position: absolute;
              right: -9.375rem;
              top: -2.8125rem;
            }
          }
        }
      }
    }
  }

  :global .footer {
    background: #FAFAFA;
    width: 100%;
    height: 15.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(117, 117, 117, 1);

    .info {
      color: #111111;
      font-weight: bold;
    }
    a{
     padding-bottom: 1rem;
    }

    p {
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1637px) {
  .mainContainer {
    :global .generate {
      > .content {
        #generate-first {
          .content {

            > .left {
              position: absolute;
              left: 0.1875rem;
            }

            > .right {
              position: relative;
              left: 16rem;
              width: 54rem;

              .before {
                img {
                  width: 15rem;
                }
              }

              .after {
                img {
                  width: 27rem;
                }
              }
            }
          }
        }

        #generate-three {
          .content {

            > .left {
              .text{
                width: 19.3125rem;
              }
            }

            > .right {

              img {
                width: 100%;
                top: -11.875rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    :global .my-header {
      .container {
        .logo {
          margin-right: 0 !important;

          img {
            width: 5.5rem;
          }
        }

        > div {
          width: auto;
        }

        .menu {
          ul {
            li {
              width: max-content;
              margin-right: 0;

              &:nth-of-type(1) {
                margin-right: 0.625rem;
              }

              a {
                font-size: 0.8125rem;

                &.active {
                  padding: 0.2rem 0.5rem;
                }
              }
            }
          }

        }
      }
    }

    :global .welcome {
      margin-top: 5.8125rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      height: max-content;
    
  

      .texts {
        
        h1 {
        
          strong {
            font-size: 1.875rem;
            line-height: normal;

            span {
              display: block;
            }
          }
        }

        p {
          font-size: 1rem;
        }

        // a{
        //   color: #BA00B3;
        //   text-decoration: none;
        // } 
      }

      .actions {
        flex-wrap: wrap;

        > div {
          &.add-wait-list {
            width: 13.75rem;
          }
        }
      }
    }

    :global .generate {
      margin-top: 5rem;
      height: max-content;
      box-shadow: 0rem 2.25rem 4.75rem rgba(0, 0, 0, 0.04);
      padding-bottom: 2.1875rem;

      .accordion-button {
        z-index: 1;
      }

      > .content {
        display: none;

        &.mobile-content {
          display: block;
        }

        > div {
          .content {
            flex-direction: column;

            .left {
              position: unset !important;
              width: 100% !important;

              h2 {
                border-left: 0.25rem solid #FFE794;
                padding-left: 0.9375rem;
                font-size: 1.0625rem !important;
                line-height: normal !important;

                &:after {
                  display: none;
                }
              }
            }

            .right {
              img {
                left: 0 !important;
                top: 0 !important;
                width: 100% !important;
              
              }
            }

          }
        }

        #generate-first {
          height: 32rem;

          .content {
            .left {
              position: unset;
              width: 100%;

              .text {
                &:after {
                  display: none;
                }
              }
            }

            .right {
              left: 0;
              width: 100%;
              flex-wrap: wrap;
              margin-top: 2.8125rem;
              margin-bottom: 20.75rem;

              .before {
                order: 1;
                width: 50%;

                img {
                  width: 9.375rem;
                }
              }

              .after {
                order: 2;
                width: 50%;

                img {
                  width: 100%;
                }

              }

              .text {
                order: 3;
                width: max-content;
                margin: 0 auto;

                img {
                  display: none;
                }

                .transform {
                  p {
                    margin-top: 0;
                  }
                }
              }
            }
          }
        }

        #generate-two {
          .content {
            .left {
              h2 {
                width: 100%;
              }

              .text {

                &:after {
                  display: none;
                }

                ul {
                  margin-top: 1.5625rem;
                  padding-left: 1rem;
                  padding-right: 0.3125rem;

                  li {
                    font-size: 0.75rem;
                    line-height: normal;
                    margin-top: 0.625rem;
                  }
                }
              }
            }


            .right {
              width: 100% !important;

              img {
                width: 100% !important;
              }
            }
          }
        }
      }
    }

    :global .integrate {
      height: max-content;
      margin-top: 12.5rem;

      .content {
        flex-wrap: wrap;
        width: 31.25rem;
        max-width: 100%;
        padding: 1.25rem 0;
      }
    }

    :global .social-commerce {
      margin-bottom: 6.25rem;

      .content {
        width: 100%;
        flex-direction: column;
        padding: 1.25rem;

        > div {
          width: 100% !important;
        }

      }
    }

    :global .business {
      height: max-content;
      margin-bottom: 6.25rem;

      > .content {
        display: none;

        &.mobile-content {
          display: block;
          width: 100%;
        }

        > div {
          width: 100%;

          .content {
            flex-direction: column;

            img {
              width: 100%;
            }
          }
        }

        #business-three {
          .content > {
            .left {
              position: unset;
            }

            .right {
              img {
                position: unset;
                width: 100%;
              }
            }
          }
        }
      }
    }

    :global .purchase {
      height: max-content;
      margin-top: 0 !important;

      > .content {
        display: none;

        &.mobile-content {
          display: contents;
        }

        > div {
          .content {
            flex-direction: column;

            .left {
              position: unset !important;

              h2 {
                font-size: 1.0625rem !important;
              }

              p {
                font-size: 1rem !important;
                width: 100% !important;
              }
            }

            .right {
              img {
                width: 100% !important;
                position: unset !important;
              }
            }
          }
        }
      }
    }
  }
}